In [3]:
import pandas as pd
import os
import numpy as np
from lib.func_data import import_data
pd.options.display.max_columns = None

In [25]:
# list_path = [r"data/stats-chiav_u15_23_24-vs-annone-22-10-2023.csv",
#              r"data/stats-chiav_dr3_23_34-vs-brembate-22-10-2023.csv"
#             ]

# L_append = []
# for path in list_path:
#     data_temp = pd.read_csv(path).rename(columns={"Nº":"Nr"})
#     data_temp.fillna(9999, inplace=True)
#     data_temp.Nr = data_temp.Nr.astype(int)
#     data_temp.replace(9999, "", inplace=True)
#     game = path.split("/")[-1][6:-4]

#     split_ = game.split("-")
#     season = split_[0][-5:]
#     my_team = split_[0][:-6]
#     other_team = split_[2]
#     date = pd.to_datetime( split_[3] + "-" + split_[4] + "-" + split_[5] )

#     data_temp["season"] = season
#     data_temp["my_team"] = my_team
#     data_temp["other_team"] = other_team
#     data_temp["date"] = date

#     L_append = L_append + [data_temp]

# data = pd.concat(L_append)

In [26]:
# list_team = list(set(list(data.my_team.values)))
# list_other = list(set(list(data.other_team.values)))

In [9]:
list_path =[
    r"data/stats-chiav_dr3_23_24-vs-brembate-22-10-2023.csv",
    r"data/stats-chiav_u14_22_23-vs-pontida-05-03-2023.csv",
    r"data/stats-chiav_u15_23_24-vs-annone-22-10-2023.csv",
    r"data/stats-chiav_u17_22_23-vs-mandello-30-04-2023.csv",
    r"data/stats-chiav_u17_22_23-vs-morbegno-19-02-2023.csv",
    r"data/stats-chiav_u17_22_23-vs-rovagnate-29-01-2023.csv",
    r"data/stats-chiav_prd_22_23-vs-sondrio-05-03-2023.csv"
]



#data = import_data(list_path)

#list_season = list(set(list(data.season.values)))
#scelta_season = list_season[0]


#list_team = list(set(list(data.loc[data.season == scelta_season].my_team.values)))
#scelta_team = list_team[1]

# scelta_media = "Partita singola"

#data = data.loc[ (data.my_team == scelta_team) & (data.other_team == "mandello") ]

# if scelta_media == "Partita singola":
#     list_other = list(set(list(data.loc[(data.my_team == scelta_team) & (data.season == scelta_season)].other_team.values)))
    # scelta_other = "mandello"

#     list_date = list(set(list(data.loc[(data.my_team == scelta_team) & (data.season == scelta_season) & \
#                                     (data.other_team == scelta_other)].date.values)))
#     scelta_date = list_date[0]

    
#     data_int = data.loc[ (data.my_team == scelta_team) & (data.other_team == scelta_other) & (data.date == scelta_date) ]

#     data_fin = data_int.drop(columns=["season","my_team", "other_team", "date", "PFD", "sec", "min_", "sec_"])

In [51]:
(data.sec.sum()/60)/4

50.0

In [ ]:
Avversari,Totale,,53,,,,,,,,,,,,,,,,,,,,,,,,,

In [28]:
list_path =[
    r"data/stats-chiav_dr3_23_24-vs-brembate-22-10-2023.csv",
    #r"data/stats-chiav_u14_22_23-vs-pontida-05-03-2023.csv",
    #r"data/stats-chiav_u15_23_24-vs-annone-22-10-2023.csv",
    #r"data/stats-chiav_u17_22_23-vs-mandello-30-04-2023.csv",
    #r"data/stats-chiav_u17_22_23-vs-morbegno-19-02-2023.csv",
    #r"data/stats-chiav_u17_22_23-vs-rovagnate-29-01-2023.csv",
    #r"data/stats-chiav_prd_22_23-vs-sondrio-05-03-2023.csv",
    #r"data/stats-chiav_u15_23_24-vs-lambrugo-28-10-2023.csv"
]


L_append = []
for path in list_path:
    data_temp = pd.read_csv(path).rename(columns={"Nº":"Nr"})
    data_temp.fillna(9999, inplace=True)

    L_append = L_append + [data_temp]

data = pd.concat(L_append)

In [29]:
avv_tot = data.loc[data.Nr == "Avversari"][["PTS"]].values[0][0]

    PTS
13   54

In [38]:
chiav_tot = data.loc[data.Nr == 9999 ][["PTS"]].values[0][0]

63

In [8]:
path

'data/stats-chiav_u14_22_23-vs-pontida-05-03-2023.csv'

In [17]:
data.groupby(["Nr", "Giocatore"]).agg( {"MIN":"count"} )

                           MIN
Nr Giocatore
5  Sow Tanor                 2
6  Provitera Leonardo        3
7  Del Giorgio Alessandro    2
8  Del Barba Daniele         3
9  Gianera Leonardo          1
10 Martinucci Nicola         1
11 Garbellini Francesco      1
12 Bolotta Guglielmo         3
14 Giorgetta Patrick         2
15 Ravo Emanuele             2
17 Sala Danna Giuseppe       3
20 Estella Roman Tristan     2
21 Balatti Lorenzo           3
22 Ka Mouhammadou            3
23 Papa Andrea               2
24 Ravo Alessandro           2
   Totale                    3

In [31]:
data.columns

Index(['Nr', 'Giocatore', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA',
       '3P%', '2PM', '2PA', '2P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'TOV', 'STL', 'BLK', 'SR', 'PF', 'PFD', 'PIR', 'EFF', '+/-',
       'season', 'my_team', 'other_team', 'date', 'min_', 'sec_', 'sec'],
      dtype='object')

In [38]:
mrg_1 = data.groupby(["Nr", "Giocatore"]).mean().reset_index()
mrg_2 = data.groupby(["Nr", "Giocatore"]).agg( {"MIN":"count"} ).reset_index().rename(columns={"MIN":"Nr_partite"})

data_mean = mrg_1.merge(mrg_2, on=["Nr", "Giocatore"])
data_mean["MIN"] = data_mean.sec.apply(lambda x: sec_to_time(x) )

data_mean = ['Nr', 'Giocatore', 'Nr_partite', 'MIN', 'PTS', 'FGM', 'FGA', '3PM', '3PA', '2PM', '2PA',
       'FTM', 'FTA', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'SR',
       'PF', 'PFD', 'PIR', 'EFF', 'min_', 'sec_', 'sec' ]

C:\Users\BiavaschiStefano\AppData\Local\Temp\ipykernel_1920\2281362620.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mrg_1 = data.groupby(["Nr", "Giocatore"]).mean().reset_index()